[Unit]
Description=USA Tours Web Application
After=network.target

[Service]
User=ste
WorkingDirectory=/Users/ste/USA Tours Site
ExecStart=/usr/local/bin/gunicorn --workers 3 --bind 0.0.0.0:8083 app:app
Restart=always

[Install]
WantedBy=multi-user.target 